{% if account != nil %}

	{% assign tasks_response 	= "tasks" | webhook: company_id: account._id, id: params.id %}

	{% if tasks_response.code != 200 %}
		alertify.error("{{ l.not_found }}");
	{% else %}
		{% assign task = tasks_response.body %}
		{% if task.name == params.name %}
			alertify.message("{{ l.not_updated }}");
		{% else %}
			{% assign tasks_update = "update_task" | webhook: name: params.name, id: params.id %}
			{% if tasks_update.code != 200 %}
				alertify.error("{{ l.unknown_error }}");
			{% else %}
				alertify.success("{{ l.updated }}");
			{% endif %}
		{% endif %}
	{% endif %}
{% endif %}