<hr class="p-0 m-0">
<div class="row py-2" data-id="{{ task_id }}">
	<div class="col flex-grow-1 my-auto">

		{{ task }}

		{% assign created_at 	= task_id | _id_to_datetime %}
		{% assign now 				= "now" | date: "%Y-%m-%d %H:%M" | parse_time %}

		<a href="/{{ params.locale }}/tasks/{{ task_id }}">{{ task_name | strip_html }}</a> &#183; {{ l.created }} <span title="{{ created_at | i18n_l: 'wday_date_hours_minutes' | capitalize }}">{{ created_at | time_distance_in_words: now }} {{ l.ago }}</span>

	</div>
	<div class="col-auto pl-1 text-right my-auto">
		<form action="/{{ params.locale }}/tasks/{{ task_id }}.js" method="delete" data-remote="true">
			<input type="submit" value="{{ l.buttons.destroy }}" class="btn btn-outline-danger">
		</form>
	</div>
</div>